<% provide(:title, "通知一覧") %>
<div class="container py-5">
  <h2 class="mb-5 pl-3">通知</h2>
  <% if @notifications.exists? %>
      <div class="users-index mx-auto w-100">
        <%= paginate @notifications %>
          <%= render @notifications %>
        <%= paginate @notifications %>
      </div>
  <% else %>
      <p>通知はありません</p>
  <% end %>
</div>
