<% if !current_user?(@post.user) %>
  <span id="post-form-<%= @post.id %>">
    <% if post.iine?(current_user) %>
      <%= render 'likes/uniine', post: @post %>
    <% else %>
      <%= render 'likes/iine', post: @post %>
    <% end %>
  </span>
<% end %>
