<% provide(:title, 'ユーザーリスト') %>
<div class="container py-5">
  <h2 class="mb-5">ユーザーリスト</h2>
  <section class="users-wrapper w-100">
    <ol class="users">
      <%= render @users %>
    </ol>
    <%= paginate @users %>
  </section>
</div>