<% provide(:title, @user.name) %>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <section class="profile">
        <p>＊これから実装：プロフィール画像</p>
        <p><%= @user.name %></p>
      </section>
      <section class="フォロー・フォロワー数表示">
        <p>＊これから実装：フォロー・フォロワー数</p>
      </section>
      <p>＊これから実装：フォローボタン</p>
      <%# プロフィール編集ページへのリンク %>
      <% if current_user?(@user) %>
        <%= link_to "profile edit", edit_user_registration_path, class: "btn btn-lg btn-primary" %>
      <% end %>
    </div>
    <div class="col-md-8">
      <h2 class="text-center mb-4">投稿一覧</h2>
      <div class="container">
        <div class="row mx-auto w-50">
          <ul class="list-group w-100">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>