<section class="post bg-light">
  <div class="container py-5 px-5 bg-white">
    <div class="row mb-5">
      <div class="col-6">
        ＊プロフィール画像＊  <%= @post.user.name%>
      </div>
      <div class="col-6">
        ＊いいねボタン＊
        <% if current_user?(@post.user) %>
         <%= link_to "投稿を削除する", @post, method: :delete, data: { confirm: "You sure?" }, class: "text-dark" %>
        <% end %>
      </div>
    </div>
    <div class="row mb-3 post-title">
      <h3 class="font-weight-bold"><%= @post.title%></h3>
    </div>
    <div class="row post-content">
        <%= @post.content%>
    </div>
  </div>
</section>
