/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

// ==================================
// 共通設定
// ==================================

.bg-dark {
  background-color: black !important;
}

a {
  color: black !important;
}

.page-item.active .page-link {
  color: #fff !important;
  background-color: black; 
  border-color: black;
}

// ==================================
// flash
// ==================================
.notice {
  background-color: green;
  color: white;
  text-align: center;
  border-radius: 0px;
  margin-bottom: 0px;
}

.alert {
  background-color: orange;
  color: white;
  text-align: center;
  border-radius: 0px;
  margin-bottom: 0px;
}

// ==================================
// header
// ==================================

.font-large {
  font-size: 2em;
}

.font-small {
  font-size: 0.8em;
}

.navbar-brand {
  padding: 0px;
}

.form-control {
  height: calc(1.5rem + 2px);
}

.btn {
  padding: 0.1rem 0.5rem;
}

// ==================================
// ログインページ
// ==================================

 .button {
   padding: 10px 20px;
   border-radius: 5px;
 }

// ==================================
// 自分の投稿一覧
// ==================================

.posts {
  list-style: none;
  padding: 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }

  .timestamp {
    display: block;
    color: gray;
    text-align: right;
  }
}

// ==================================
// 投稿詳細ページ
// ==================================
.post-title {
  width: 70%;
  text-align: left;
  h3{
    border-bottom: 3px solid black;
    padding-bottom: 10px;
  }
}

.post-content {
  padding-top: 10px;
  width: 80%;
}

// ==================================
// フォロー機能
// ==================================
.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid gray;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.users.follow {
  padding: 0;
}

// ==================================
// いいね機能
// ==================================
.not_liked, .liked{
  color: red;
  background-color: white;
  border: none;
  font-size: 24px;
}

// ==================================
// コメント機能
// ==================================
.comment {
  border-bottom: 1px solid gray;
  list-style: none;
}

.comment-wrapper {
  display: flex;
}

